.container{
    padding-top: 60px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}
/* .grille{
    justify-content: center;
} */

.grid{
    border:solid;
    border-width: 5px;
    padding:10px;
    justify-content: center;
    display:flex;
    flex-wrap:wrap; 
} 

img{
    width:150px;
    height:150px;
}

.result, .message{
    border: solid;
    border-width: 2px;
    padding:10px;
    justify-content: center;
}
.message {
    text-align: center;
}